@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --animate-scan: scan 2s ease-in-out infinite;
  @keyframes scan {
    0%,
    100% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      transform: translateY(200px);
      opacity: 1;
    }
  }
}

/* Force crisp text rendering and solid contrast roots */
@layer base {
  body {
    @apply bg-slate-50 dark:bg-slate-950 transition-colors duration-200 antialiased;
  }
}
